/IntAHex.class
/Paginacion.class
/Particion.class
/ParticionesDinamicas.class
/ParticionesEstFijas.class
/ParticionesEstVariables.class
/Proceso.class
/ProcesosDisponibles.class
/Segmentacion.class
/FCFS.class
